*.idb
*.obj
*.pch
*.tlog
*.log
*.vs/
*.pdb
*.exe
*.ilk
*/Debug/
charArr/charArr/Debug/
Day4_temple/Day4_temple/Debug/
Day5_Test/Day5_Test/Debug/
Day5_windows/Day5_windows/Debug/
Day6TO7_WinHttp/Day6TO7_WinHttp/Debug/
Day8_authentication/Day8_authentication/Debug/
Decompression_File/Decompression_File/Debug/
Event_Object_Synchronization/Event_Object_Synchronization/Debug/
File_Management_CMD/File_Management_CMD/Debug/
FirstUniqueChar/FirstUniqueChar/Debug/
Hard_Soft_Link/Hard_Soft_Link/Debug/
Memory_file_view/Memory_file_view/Debug/
*/Debug/*
Mutex_Syncchronization/Mutex_Syncchronization/Debug/
My_Capture/My_Capture/Debug/
MySql/MySql/lib/plugin/debug/
MySql/mysql-8.0.15-winx64/lib/plugin/debug/
new_mysql1/new_mysql1/Debug/
new_mysql4/new_mysql4/Debug/
NO_PUSH_TEST_UTF/NO_PUSH_TEST_UTF/Debug/
Pipe_On_Process_Child/Pipe_On_Process_Child/Debug/
Process_And_Thread_Creat_Process/Process_And_Thread_Creat_Process/Debug/
Process_And_Thread_Create_Thread/Process_And_Thread_Create_Thread/Debug/
Process_communication_Pipe/Process_communication_Pipe/Debug/
Process_Communication_Pipe_B/Process_Communication_Pipe_B/Debug/
Select_client/Select_client/Debug/
Share_Memory_B/Share_Memory_B/Debug/
Share_Memory_A/Share_Memory_A/Debug/
Select_IO_Server/Test_Security_Descriptor/Debug/
SO_REUSE_TEST/SO_REUSE_TEST/Debug/
Thread_Synchronization/Thread_Synchronization/Debug/
VMMap/VMMap/Debug/
WinINet_1/WinINet_1/Debug/
WindowsProject1/.vs/WindowsProject1/v15/Browse.VC.db
WinINet_1/.vs/WinINet_1/v15/Browse.VC.db
VMMap/.vs/
Temporary_File/.vs/
SO_REUSE_TEST/.vs/
SMFTP_Server/.vs/
SMFTP_Client/.vs/
Select_IO_Server/.vs/
Share_Memory_A/.vs/
ShootScanner/.vs/
Share_Memory_B/.vs/
Select_client/.vs/
ShootScanner/ShootScanner/Debug/
MySql/MySql/Debug/
Move_File/Move_File/Debug/
Memory_walk_heap/Memory_walk_heap/Debug/
Memory_Guard_page/Memory_Guard_page/Debug/
IOCP2/IOCP2/Debug/
IOCP_CopyFile/IOCP_CopyFile/Debug/
Hard_Soft_Link/.vs/
Memory_file_view/.vs/
Memory_walk_heap/.vs/
Move_File/.vs/
Mutex_Syncchronization/.vs/
MySql/.vs/
Get_IP/Get_IP/Debug/
IOCP_CopyFile/.vs/
Get_IP/.vs/
IOCP2/.vs/
FirstUniqueChar/.vs/
File_Management_CMD/.vs/
Event_Object_Synchronization/.vs/
Day8_URLTest/.vs/
Decompression_File/.vs/
Day6TO7_WinHttp/.vs/
Day5_winApp/.vs/
Day5_Test/.vs/
new_mysql/.vs/
new_my3/.vs/
NO_PUSH_TEST_UTF/.vs/NO_PUSH_TEST_UTF/v15/.suo
Pipe_On_Process/.vs/
Process_And_Thread_Create_Thread/.vs/
Pipe_On_Process_Child/.vs/
Process_And_Thread_Creat_Process/.vs/
NO_PUSH_TEST_UTF/.vs/
Process_communication_Pipe/.vs/
Process_Communication_Pipe_B/.vs/
Reptile/.vs/
Reptile/Reptile/Debug/
req_res_test/req_res_test/Debug/
req_res_textB/req_res_textB/Debug/
reversedStr/reversedStr/Debug/
SMFTP_Client/Read_Big_File_Client/Debug/
SMFTP_Server/Read_Big_File/Debug/
str_test/str_test/Debug/
req_res_textB/.vs/
req_res_test/.vs/
reversedStr/.vs/
Temporary_File/Temporary_File/Debug/
THARED_TLS/THARED_TLS/Debug/
THARED_TLS/.vs/
Thread_Synchronization/.vs/
Typedef_pointer/.vs/
Virtual_Test/.vs/
WindowsProject1/.vs/
WinINet_1/.vs/
ConsoleApplication1 - Shortcut.lnk
APP/.vs/
APP/APP/
Append_File_To_Other_File/.vs/
Append_File_To_Other_File/Append_File_To_Other_File/Debug/
Changing_Current_Directory/.vs/
Changing_Current_Directory/Changing_Current_Directory/Debug/
Changing_Environment_Variables/Changing_Environment_Variables/Debug/
Changing_Environment_Variables_3/.vs/
Changing_Environment_Variables_3/Changing_Environment_Variables_3/Debug/
charArr/.vs/
Collection_Test/.vs/
Collection_Test/Collection_Test/Debug/
Changing_Environment_Variables/.vs/
ConsoleApplication1/
Copy_Capture/.vs/
Copy_Capture/Copy_Capture/Debug/
Copy_Ergodic_Directory/.vs/
Copy_Ergodic_Directory/Copy_Ergodic_Directory/Debug/
